table {
	font-family: arial, sans-serif;
	border: 2px solid #b2b2b2;
}

th  {
    border: 1px solid #b2b2b2;
    text-align: center
    padding: 8px;
}

td  {
    border: 1px solid #b2b2b2;
    text-align: center
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
