table.header{
    width:100%;
	font-family: arial, sans-serif;
	border: 2px solid #dd0404;
}

th.header{
    width:20%;
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 2px;
}

td.header{
    width:30%;
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 1px;
}

table.report{
    width: 100%;
	font-family: arial, sans-serif;
	border: 2px solid #2b0bba;
}

th.report{
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 8px;
}

td.report{
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 6px;
}

