#header table{
    width:100%;
}

#header th{
    width:20%;
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 2px;
}

#header td{
    width:30%;
    border: 1px solid #b2b2b2;
    text-align: center;
}

#report table{
    width: 100%;
}

#report th{
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 6px;
}

#report td{
    border: 1px solid #b2b2b2;
    text-align: center;
    padding: 6px;
}

#total table{
  border-collapse: collapse;
  width: 100%;
}

#total th {
  text-align: right;
  border-bottom: 6px solid #ddd;
  font-size: 20px;
  padding-right: 30px;
}

#total td {
  text-align: center;
  border-bottom: 6px solid #ddd;
  font-weight: bold;
  font-size: 20px;
}
